<p>Email : <%=  @user.email %></p>

<p> Nome : <%=@user.name %></p>

<p>Idade :<%=  @user.age %></p>


<p><%= link_to "Return", root_path(@user) %></p>
<p><%= link_to "Edit", edit_user_path(@user) %></p>
<p><%= link_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %></li>