<%= render "navbar" %>

<p><strong> Email : </strong> <%=  @user.email %></p>

<p><strong>  Nome : </strong> <%=@user.name %></p>

<p><strong> Idade : </strong><%=  @user.age %></p>

<div class="btn-group">
<p><%= button_to "Return", root_path(@user), class: "btn btn-dark" %></p>
<p><%= button_to "Edit", edit_user_path(@user) , class: "btn btn-dark" %></p>
<p><%= button_to "Destroy", user_path(@user),
                  method: :delete,
                  data: { confirm: "Are you sure?" },
                  class: "btn btn-dark" %></li>
 </div>